html {

  background-color: #f1faee;

  font-family: 'Poppins', sans-serif;

}

header {

  background-color: #e63946;

}

a {

  text-decoration: none;

  color: #f1faee;

}

.picture {

  width: 15rem;

  height: 15rem;

  border-radius: 100%;

  margin-left: 505px;
  
}

h1 {

  text-align: center;

  color: #f1faee;

  margin-top: 5px;

}

.about {

  background-color: #a8dadc;

  color: #1d3557;

  display: inline-block;

  width: 20rem;

  border-radius: 10px;

  margin-top: 10px;

  margin-left: 470px;

}

ul {

  list-style: none;

}

li {

  margin: 10px 0;

  font-size: 1.1rem;
  
}

